<div class="footer">
  <div class="footer-line">Silo - Arte e Latitude Rural</div>
  <a class="footer-line" href="mailto:contato@silo.org.br" target="_blank">contato@silo.org.br</a>
  <div class="footer-line">
    {% include social-icons.html %}
  </div>
</div>

{% if page.permalink == '/' or page.permalink == '/en/' %}
  <div class="footer">
    {% assign app_sup = 'Apoio:' %}
    {% if page.lang == 'en' %}
      {% assign app_sup = 'Support:' %}
    {% endif %}
    <div class="footer-line">{{ app_sup }}</div>
    <a href="https://www.fordfoundation.org/" target="_blank">
      <div class="footer-line parceira-logo" style="background-image: url('{{ site.baseurl }}/media/images/logos/ford_black.svg');"></div>
    </a>
  </div>
{% endif %}
