{% assign home_url = site.baseurl %}
{% if page.lang == 'en' %}
  {% assign home_url = site.baseurl | append: '/en' %}
{% endif %}

<div id="menu-mobile">
  <i class="fa fa-bars menu-icon show-menu" aria-hidden="true" onclick="showMenu()"></i>
  <a class="menu-title" href="{{ home_url }}/">
    <div class="menu-logo"></div>
  </a>
  <div id="menu-retratil" class="menu-hide">
    <div class="menu-icon hide-menu" onclick="hideMenu()">✖</div>
    {% include menu-items.html %}
  </div>
</div>

<div id="menu">
  <a class="menu-title" href="{{ home_url }}/">
    <div class="menu-logo"></div>
  </a>
  <div class="menu-container">
    {% include menu-items.html %}
  </div>
</div>

<script>
  function showMenu() {
    document.getElementById('menu-retratil').classList.remove("menu-hide");
    document.getElementById('menu-retratil').classList.add("menu-show");
  }

  function hideMenu() {
    document.getElementById('menu-retratil').classList.remove("menu-show");
    document.getElementById('menu-retratil').classList.add("menu-hide");
  }
</script>
