<div class="menu-section">
  <ul>
    {% case page.lang %}
      {% when 'en' %}
        <li><a href="{{ site.baseurl }}/about/">about</a></li>
        <li><a href="{{ site.baseurl }}/who-we-are/">who we are</a></li>
        <li><a href="{{ site.baseurl }}/news/">news</a></li>
      {% else %}
        <li><a href="{{ site.baseurl }}/sobre/">sobre</a></li>
        <li><a href="{{ site.baseurl }}/quem-somos/">quem somos</a></li>
        <li><a href="{{ site.baseurl }}/noticias/">notícias</a></li>
    {% endcase %}
  </ul>
</div>
<div class="menu-section">
  <ul>
    {% case page.lang %}
      {% when 'en' %}
        <li><a href="{{ site.baseurl }}/en/caipiratechlab/">caipiraTech</a></li>
        <li><a href="{{ site.baseurl }}/en/encontrada/">encontrada</a></li>
        <li><a href="{{ site.baseurl }}/en/interactivos/">interactivos?</a></li>
        <li><a href="{{ site.baseurl }}/en/residencia/">residência</a></li>
      {% else %}
        <li><a href="{{ site.baseurl }}/caipiratechlab/">caipiraTech</a></li>
        <li><a href="{{ site.baseurl }}/encontrada/">encontrada</a></li>
        <li><a href="{{ site.baseurl }}/interactivos/">interactivos?</a></li>
        <li><a href="{{ site.baseurl }}/residencia/">residência</a></li>
    {% endcase %}
  </ul>
</div>
<div class="menu-section">
  {% include social-icons.html %}
  {% include language-selection.html %}
</div>
