<section class="list-wrapper" id="{{ include.section }}">
  <div class="people-section-title-wrapper">
    {% assign section_title = include.section %}
    {% if page.lang == 'en' %}
      {% case include.section %}
        {% when 'diretoria' %}{% assign section_title = 'board' %}
        {% when 'associadas' %}{% assign section_title = 'associates' %}
      {% endcase %}
    {% endif %}
    <h2 class="people-section-title">{{ section_title }}</h2>
  </div>
  <div class="people-list">
    {% assign pages = site.pages | where:"lang", page.lang %}
    {% for page in pages %}
      {% if page.category contains include.section %}
        {% assign pCover = site.baseurl | append: '/' | append: page.cover %}
        <div class="people-list-item">
          <div class="people-image-wrapper">
            <div class="list-item-image people-image" style="background-image: url('{{ pCover }}');"></div>
          </div>
          <div class="list-item-title people-title">{{ page.title }}</div>
          {% if page.link %}
            <a class="people-link" href="http://{{ page.link }}/" target="_blank">
              {{ page.link }}
            </a>
          {% else %}
            <a class="people-link hidden-link" href="" target="_blank">___</a>
          {% endif %}
          <div class="content-text people-text">{{ page.content }}</div>
        </div>
      {% endif %}
   {% endfor %}
  </div>
</section>
