{% if page.permalink == '/sobre/' %}
  <div class="about-nav">
    <a class="nav-item" onclick="scrollToId('#o-que-e')">O que é</a>
    <a class="nav-item" onclick="scrollToId('#o-que-fazemos')">O que fazemos</a>
    <a class="nav-item" onclick="scrollToId('#historico')">Histórico</a>
    <a class="nav-item" onclick="scrollToId('#silo')">Silo</a>
    <a class="nav-item" onclick="scrollToId('#apoio')">Apoio</a>
  </div>
{% endif %}

{% if page.permalink == '/about/' %}
  <div class="about-nav">
    <a class="nav-item" onclick="scrollToId('#o-que-e')">What it is</a>
    <a class="nav-item" onclick="scrollToId('#o-que-fazemos')">What we do</a>
    <a class="nav-item" onclick="scrollToId('#historico')">History</a>
    <a class="nav-item" onclick="scrollToId('#silo')">Silo</a>
    <a class="nav-item" onclick="scrollToId('#apoio')">Support</a>
  </div>
{% endif %}

{% if page.permalink == '/quem-somos/' %}
  <div class="people-nav">
    <!--- <a class="nav-item" onclick="scrollToId('#diretoria')">Diretoria</a> --->
    <!--- <a class="nav-item" onclick="scrollToId('#associadas')">Associadas</a> --->
    <!--- <a class="nav-item" onclick="scrollToId('#conselho')">Conselho</a> --->
  </div>
{% endif %}

{% if page.permalink == '/who-we-are/' %}
  <div class="people-nav">
    <!--- <a class="nav-item" onclick="scrollToId('#diretoria')">Board</a> --->
    <!--- <a class="nav-item" onclick="scrollToId('#associadas')">Associates</a> --->
    <!--- <a class="nav-item" onclick="scrollToId('#conselho')">Conselho</a> --->
  </div>
{% endif %}

{% if page.layout == 'post' and page.lang != 'en' %}
  {% assign posts = site.posts | where:"ref", page.ref %}
  <div class="language-nav">
  {% for post in posts %}
    {% unless post.title == page.title or post.lang == 'en' %}
      <a class="nav-item" href="{{ site.baseurl }}{{ post.url }}">
        {% include iso-to-lang.html iso=post.lang %}
      </a>
    {% endunless %}
  {% endfor %}
  </div>
{% endif %}
