<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include menu.html %}
    <div class="main-div">
      <section class="content-text">
        <h2>{{ page.title }}</h2>
        {{ content }}
        {% assign link = 'ÚLTIMO EVENTO' %}
        {% if page.lang == 'en' %}
          {% assign link = 'LATEST EVENT' %}
        {% endif %}
        <a href="{{ site.baseurl }}{{ page.link }}" target="_blank">[ {{ link }} ]</a>
      </section>
      
      <section class="list-wrapper">
        {% assign news = 'Notícias Relacionadas' %}
        {% if page.lang == 'en' %}
          {% assign news = 'Related News' %}
        {% endif %}
        <h2>{{ news }}</h2>
        <div class="home-list">
          {% assign posts = site.posts | where:"lang", page.lang | where:"category", page.category  %}
          {% for post in posts %}
            {% assign pCover = site.baseurl | append: '/' | append: post.cover %}
            <a class="list-item" href="{{ site.baseurl }}{{ post.url }}">
              <div class="list-item-image" style="background-image: url('{{ pCover }}');">
                <div class="list-item-title">{{ post.title }}</div>
              </div>
            </a>
          {% endfor %}
        </div>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
