<!DOCTYPE html>
 <html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include menu.html %}
    <div class="main-div">
    
      <section class="content-text">{{ content }}</section>    
        <section class="list-wrapper">
        {% assign news = 'Notícias' %}
        {% if page.lang == 'en' %}
          {% assign news = 'News' %}
        {% endif %}
        <h2>{{ news }}</h2>
        <div class="home-list">
          {% assign posts = site.posts | where:"lang", page.lang %}
          {% for post in posts %}
             {% assign pCover = site.baseurl | append: '/' | append: post.cover %}
            <a class="list-item" href="{{ site.baseurl }}{{ post.url }}">
              <div class="list-item-image" style="background-image: url('{{ pCover }}');">
                <div class="list-item-title">{{ post.title }}
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
        </section>
    </div>        
    {% include footer.html %}
  </body>
</html>
