<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    {% include meta.html %}
  </head>
  <body>
    {% include menu.html %}
    <div class="main-div">
      <section class="list-wrapper">
        {% include submenu.html %}
      </section>
      <!--- {% include people-group.html section="diretoria" %} --->
      {% include people-group.html section="associadas" %}
      <!--- {% include people-group.html section="conselho" %} --->
    </div>
    {% include footer.html %}
  </body>
</html>
